@{
    ViewData["Title"] = "Home Page";
}

<h1>Reverse polish notation</h1>

<form method="post" action="/home/calculate">
    Postfix to infix: <input name="Source" required />
    <input type="submit" value="send" />* <br /> <br />
</form>

<form action="/home/calculateTrue" method="post">
    Infix to postfix: <input name="SourceTrue" required />
    <input type="submit" value="send" />* <br />
</form>

*There has to be space between each character (parentheses too)! <br /><br />

Expression:
@ViewData["otherFix"]
<br /><br />
Result:
@ViewData["result"]
<br /><br />

<form action="/home/clear" method="post">
    <input type="submit" value="clear" />
</form>


