@{
    ViewData["Title"] = "Home Page";
    
}

<h1>REPUD REPUS</h1>

<form method="post" action="/home/calculate">
    <input name="Source"></input><br/><br/>
    <input type="submit" value="send" />

</form>

